* {
  box-sizing: border-box;
  margin: 0;

}

body {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
}

header {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
}

/*
  <<<<< Sort Buttons >>>>>
*/

#sortTypes {
  display: grid;
  grid-template-columns: repeat(3, auto);

}

#sortTypes > * {
  align-self: center;
}

#sortTypes > p {
  font-size: 2.5rem;
}

#sortTypes button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: default;
  font-weight: bold;
}

#sortTypes > button:last-child {
  cursor: pointer;
  font-weight: normal;
}

#showAddModal {
  font-size: 1.5rem;
  font-family: inherit;
  background: none;
  align-self: center;
  border-radius: 0.35rem;
  padding: 0.3rem 1.25rem;
  cursor: pointer;
}

/*
  <<<<< Book Card >>>>>
*/

#bookContainer {
  width: 100%;
  padding: 30px 50px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-auto-flow: row;
  gap: 0.5rem;
  justify-content: center;
}

.bookCard {
  position: relative;
}

.removeBtn {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  font-size: 1rem;
  background: none;
  padding: 0.15rem 0.4rem;
  cursor: pointer;
} 

.bookCard dl {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(6, auto);
  row-gap: 0.5rem;
  grid-template-areas: 
    "tHeader . . ."
    "title title title title"
    "aHeader . . ."
    "author author author author"
    "pHeader pages . ."
    "rHeader read . .";
}


.bookCard dt {
  font-size: 1.10rem;
  align-self: end;
}

.title>dd, .author>dd {
  align-self: start;
}

.bookCard .title {
  grid-area: tHeader;
}

.bookCard .title+dd {
  grid-area: title;
}

.bookCard .author {
  grid-area: aHeader;
}

.bookCard .author+dd {
  grid-area: author;
}

.bookCard .pages {
  grid-area: pHeader;
}

.bookCard .pages+dd {
  grid-area: pages;
}

.bookCard .read {
  grid-area: rHeader;
}

.bookCard .read+dd {
  grid-area: read;
}

/*
<<<<< Modal Dialog Box >>>>>
*/

/*
  The backdrop when the modal dialog box is open
*/
::backdrop {
    background-color:ghostwhite;
    backdrop-filter: blur(15px);
    opacity: 0.75;
}


#bookDialog {
  font-size: 1.25rem;
  width: 500px;
  margin: auto;
}


legend {
  font-size: 2rem;
}

#fieldContainer {
  display: grid;
  grid-template-columns: 85px minmax(150px, 1fr);
  /* grid-template-rows: repeat(auto-fit, minmax(24px, auto)); */
  row-gap: 1.5rem;
}
 
#fieldContainer > label {
  align-self: center;
  justify-self: end;
}

#fieldContainer > label.switch {
  align-self: end;
  justify-self: start;
}

#bookDialog > form > div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-content: end;
  padding-top: 0.5rem;
}

#confirmBtn{
  font-size: 1.25rem;
  font-family: inherit;
  background: none;
  align-self: center;
  border-radius: 0.35rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

#confirmBtn+button{
  font-size: 1.0rem;
  font-family: inherit;
  background: none;
  border: none;
  align-self: center;
  border-radius: 0.35rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
  color: rgb(81, 81, 81);
}

/*
    Read/Not-Read Toggle Button (on Modal Dialog Box)
*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}